<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"type="text/javascript"></script>
  <script src="/script.js"></script>
</head>
<body>
 <h1>Musique App</h1>
 <nav>
  <ul>
    <li><input type="submit" value="artist"></li>
    <li><input type="submit" value="album"></li>
    <li><input type="submit" value="track"></li>
    <li><input type="submit" value="genre"></li>
  </ul>
</nav>
 <%= yield %>
</body>
</html>