<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"type="text/javascript"></script>
  <script src="/script.js"></script>
<!-- </head>
<body>
 <h1>Musique App</h1>
 <nav>
  <ul>
    <li>< value="artist"></li>
    <li><input type="submit" value="album"></li>
    <li><input type="submit" value="track"></li>
    <li><input type="submit" value="genre"> </li>
  </ul>
</nav>
 <%= yield %>
</body>
</html>



<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>MEME TUBE</title>
  </head> --> -->
  
  <!-- <body>
    <header>
      <h1><a href="/">MEME TUBE</a></h1>
    </header>

    <!-- generating and displaying the NAV menu -->
    <nav>
      <ul>
        <a href='/videos'><li id="home">HOME</li></a>
        <a href='/videos/new'><li class="static" id= "new-vidoe">Add New Item</li></a>
        <a href='/videos/new'><li class="static" id ="video-genre">Pop</li></a>
        <a href='/videos/new'><li class="static" id="video-genre">Rock</li></a>
        <a href='/videos/new'><li class="static" id ="video-genre">Soul</li></a>
      </ul>
    </nav>

    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>

</html>